.env
firebase/.firebaserc
.venv/
__pycache__/
*.pyc
firebase/functions/config/tasks.json
data/
firebase/functions/.env
firebase/functions/lib/
firebase/functions/node_modules/
logs/*.log
.pytest_cache/
